body {
    background: url(fondo3.png);
    background-size: cover;
    background-position: center;
}

body header h1 {
    font-family: arial black;
    background-color: #d474d4;
    text-align: center;
}

body caption {
    font-family: impact;
    text-align: center;
}

a:link {
    color: blue;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer {
    background-color: #d474d4;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 1330px;
    height: 100px;
    line-height: center;
    font-family: serif;

}

label {
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    width: 70px;

}

div {
    margin-top: 15px;
}

button {
    margin-left: 30px;
    background-color: #dc613a96;

}

nav {
    height: 70px;
    background-color: gray;
    line-height: 70px;
    text-align: center;
}

nav ul li {
    font-size: 30px;
    display: inline;
}

nav ul li a {
    color: purple;
}

header ul li {
    background-color: #dc613a96;
    padding: 20px;
    font-size: 20px;
    font-family: arial black;
    border-right: 6px double black;
    border-left: 6px double black;
    height: 70px;
    width: 70px;
    line-height: 70px;
    display: inline;
    text-align: center;
}

form {
    font-family: impact;
    margin: 30px;
}

form div {
    font-family: arial;

}